
@media screen and (max-width: 550px){
    .phoneScreen{
        display:normal;
    }
    .computerScreen{
        display:none
    }
}

@media not screen and (max-width:500px){
    .phoneScreen{
        display:none;
    }
    .computerScreen{
        display:normal
    }
}

body {
    margin: 0;
    font-family: sans-serif;
}

img{
    max-width:100%;
    height:auto;
}

video{
    max-width:100%;
    height:auto;
}

caption {
    font-size: 40px;
    padding:80px 0px 60px 0px;
}

#home {
    background-image: url('Assets/Images/home_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding: 80px;
    font-size: 5vw;
    font-family: initial;
}

#home i{
    font-size:4vw;
}

#arnauphoto {
    width: 250px;
    float: right;
}

#arnauphoto a {
    font-size: 30px;
    padding: 4px 40px 4px 40px;
    border: 3px solid #005dff;
    text-decoration:none;
    color:#005dff;    
    background-color: #bbbdc4;
}

#arnauphoto a:hover{
    border:5px solid black;
    text-decoration:underline;
    color:#000000;
    background-color: #a5b8ff;
}

#arnauphoto a:hover{
    border:5px solid black;
    text-decoration:underline;
    color:#000000;
}
   

#navbar {
    clear: right;
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0px 14px 0px;
    text-decoration: none;
    width: 33.33%;
    font-size: 130%;
}

#navbar a:hover {
    color: #00d8ff;
    background-color: #4a4a4a;
    text-decoration: underline;
}

.sticky{
    position:fixed;
    top:0;
    width:100%;
    z-index:9;
}

.sticky + div {
    padding-top: 83px;
}

#aboutme {
    padding: 34px 0px 0px 0px;
    width: 75%;
    margin: auto;
}

#aboutmetext {
    padding: 80px 0px 0px 0px;
    font-size: 1.3em;
}

#aboutmettitle {
    width:100%;
    text-align:center;
    font-size: 2.5em;
}

#tableexperience {
    text-align: center;
    font-size: 1.2em;
    padding: 80px 0px 80px 0px;
}

#tableexperience th{
    padding-top:15px;
    width:50%;
}

#tableexperience .right {
    text-align: right;
}

#tableexperience .date{
    padding-top:0px;
}

#tableexperience .bold {
    padding-bottom: 0px;
}

#tableexperience .left {
    text-align: left;
}

#skills {
    text-align: center;
    font-size: 20px;
}

#tableskills th, #tableexperience th {
    font-size: 25px;
}

#tableskills img{
    width:100px;
}

#tableskills th, td {
    padding: 20px 5px 20px 5px;
}

#tableskills td{
    width:25%;
}

#tableskills img{
    width:60px;
}

#tableskills meter{
    float:left;
}

#tableskills label{
    float:right;
}

#projects table {
    width: 75%;
    margin: auto;
}

#projects th {
    font-size: 1.8em;
    text-align: center;
}

#projects td {
    width: 50%;
    font-size: 1.2em;
}

#secondth {
    padding: 100px 0px 0px 0px;
}

#contact table {
    width:50%;
    margin:auto;
}

#contact img {
    width: 100px;
}

#contact td {
    width:25%;
    text-align: center;

}
